# Dependências do Backend

node_modules/
backend/node_modules/
frontend/node_modules/

# Dependencias do Frontend

.expo/
frontend/.expo/
dist/
web-build/
*.orig.*

# Logs do Node / Expo / NPM
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Certificados, Chaves e Credenciais (Segurança)

*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Variáveis de Ambiente

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# VS Code 
.vscode/*
!.vscode/settings.json
.idea/